""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
" set surround
" set multiple-cursors
" set commentary
" set argtextobj
" set easymotion
" set textobj-entire
" set ReplaceWithRegister

""" Plugin settings -------------------------
" let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set clipboard=unnamedplus   " using system clipboard

""" Idea specific settings ------------------
# set ideajoin
# set ideastatusicon=gray
# set idearefactormode=keep

""" Mappings --------------------------------
map <leader>ff <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)

map <leader>nf <Action>(SelectInProjectView)

map gr <Action>(FindUsages)
map gd <Action>(GotoDeclaration)
map rn <Action>(RenameElement)
map gc <Action>(CommentByLineComment)

map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

map <C-w>h <Action>(NextSplitter)
map <C-w>l <Action>(NextSplitter)

" This action requires installing Gitlink plugin
map <leader>gy <Action>(uk.co.ben_gibson.git.link.ui.actions.menu.CopyAction)


" map <leader>d <Action>(Debug)
" map <leader>r <Action>(RenameElement)
" map <leader>c <Action>(Stop)
" map <leader>z <Action>(ToggleDistractionFreeMode)

" map <leader>a <Action>(Annotate)
" map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
" map <S-Space> <Action>(GotoNextError)

" map <leader>b <Action>(ToggleLineBreakpoint)
" map <leader>o <Action>(FileStructurePopup)
